/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* universal selector */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ============================
    Common style
================================*/
.container{
  max-width: 870px;
  width: 100%;

}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .container{
  background: #fff;
  border-radius: 4px;
}
img{
  width: 100%;
}

/* -------------------
      Header area design
-----------------------*/
.header{
  background: #542eff;
  /* padding: 15px 0; */
  height: 75px;
  display: flex;
  justify-content: center;
}
.header .navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
  display: flex;
  align-items: center;
}
.header .logo img{
  height: 40px;
  width: auto;
  margin-right: 10px;
}
.header .logo span{
  display: inline-block;
  color: #fff;
  font-weight: 600;
}

.header .navigation ul.menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .navigation ul.menu li{
  list-style-type: none;
  transition: all 500ms;
  position: relative;
}
.header .navigation ul.menu li:not(:last-child)::after{
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  inset: 100 0 0 0;
  height: 3px;
  width: 100%;
  transform-origin: top right;
  transform: scaleX(0);
  background: #000;
  transition: transform 500ms;
}
.header .navigation ul.menu li:hover::after{
  transform-origin: bottom left;
  transform: scaleX(1);
}
.header .navigation ul.menu li a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
}
.header .navigation ul.menu li a img{
  height: 40px;
  width: 40px;
}
/* -------------------
     !  Header area design
-----------------------*/


/* -------------------
    top player area design
-----------------------*/
main{
  background: #E5E5E5;
  padding: 30px 0;
}
.top-players{
  padding: 33px;
}
.section-title{
  font-size: 24px;
  color: #562EFF;
}
.all-players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  padding: 30px 0;
}
.all-players .player{
  display: flex;
  align-items: center;
}
.all-players .player img{
  height: 56px;
  width: 56px;
  margin-right: 16px;
}
.all-players .player .player-name{
  font-size: 18px;
  font-weight: 500;
}

/* -------------------
   ! top player area design
-----------------------*/



/* -------------------
   top blog area design
-----------------------*/
.top-blogs{
  padding: 0 30px 30px;
}
.top-blogs .all-blogs{
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 20px;
}
.top-blogs .all-blogs .blog {
  display: flex;
  align-items: center;
}
.top-blogs .all-blogs .blog .blog-thumb{
  margin-right: 15px;
}
.top-blogs .all-blogs .blog img{
  width: 117px;
}
.top-blogs .blog .blog-title,
.all-courses .course .course-title{
  font-size: 20px;
  font-weight: 500;
}
.all-courses .course .course-title a,
.top-blogs .blog .blog-title a{
  text-decoration: none;
  color: #000;
  transition: color 400ms;
}
.all-courses .course .course-title:hover a,
  .top-blogs .blog .blog-title:hover a{
  color: #FF4A60;
}
.top-blogs .blog .blog-author{
  font-size: 16px;
  color: #9F9F9F;
}
.top-blogs .blog .blog-author a{
  text-decoration: none;
  color: #562EFF;
}
/* -------------------
   ! top blog area design
-----------------------*/

/* -------------------
   latest courses area design
-----------------------*/
.latest-courses{
  margin-top: 30px;
}
.latest-courses .container{
  padding: 30px;
}
.latest-courses .all-courses{
  margin-top: 30px;
}
.latest-courses .all-courses{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 33px;
}
.all-courses .course{
  box-shadow: 1px 5px 15px 2px #00000010;
  padding: 12px;
  border-radius: 15px;
}
.all-courses .course .course-title{
  margin-bottom: 15px;
}
.all-courses .course .course-title + p{
  font-size: 14px;
  color: #FF4A60;
  margin: 10px 0;
}
.all-courses .course-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.all-courses .course .rattings [class*="fa-star"]{
  color: #FFC014;
  font-size: 13px;
}
.all-courses .course .rattings span{
  color: #A2A2A2;
  font-size: 14px;
}
.all-courses .course-duration{
  background: #ff4a5f3d;
  display: inline-block;
  padding: 1px 10px;
  border-radius: 20px;
}
.all-courses .course-duration .fa-clock,
.all-courses .course-duration span{
  font-size: 13px;
  color: #FF4A60;
}
/* -------------------
   ! latest courses area design
-----------------------*/


/* footer */
footer{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
footer p{
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}